RAG - PRUEBA TECNICA.json
{
  "name": "RAG - PRUEBA TECNICA",
  "nodes": [
    {
      "parameters": {
        "content": "## Alimentar base de datos",
        "height": 560,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        160
      ],
      "typeVersion": 1,
      "id": "ef2ac0d8-b8d3-47b0-b531-b954f0451edc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Consumo de base de datos\n",
        "height": 544,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        160
      ],
      "typeVersion": 1,
      "id": "d7f804cd-4a96-4d0a-8bf6-c9520d14fd4c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        576
      ],
      "id": "5f1ee12c-dc80-4778-aaff-faed5e5941ce",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "9JzFVEYRK1cxP7TT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1088,
        336
      ],
      "id": "b074a21f-bdfb-49e6-8975-358b0ff282a9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 100,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1184,
        464
      ],
      "id": "d2e90688-0afd-49d0-9557-eae1e3f21886",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=\n# Rol: Asistente de Consultas Internas de PROINGES S.A.S.\n\n## Descripción\nEres un asistente interno diseñado para ayudar a los empleados de PROINGES S.A.S. a consultar información contenida en documentos técnicos, procedimientos, manuales de ingeniería y registros corporativos.  \nDebes recuperar, analizar y entregar respuestas precisas, claras y fundamentadas basadas únicamente en los documentos disponibles.  \nMantén siempre un tono profesional pero amigable, y prioriza la exactitud de la información en todas tus respuestas.  \nTus respuestas deben ser cortas y puntuales.  \nSi no conoces la respuesta, responde que no dispones de la información.\n\n## Capacidades\n- Búsqueda y recuperación de información técnica y corporativa relevante.  \n- Respuestas concisas y con fundamento en los documentos disponibles.  \n- Inclusión de referencia del documento utilizado para responder.  \n- Identificación de ausencia de información en los documentos.  \n- Explicación de procedimientos de ingeniería y operativos.  \n- Mantener confidencialidad y precisión en todas las respuestas.\n## usa la tool: siempre responde los mensaje usando la herramienta de telegram \"send_telegram\"\n\n## Comportamiento\n1. **Recepción de la consulta**: Recibe la pregunta o solicitud del empleado.  \n\n2. **Búsqueda de información**: Usa la base de conocimiento para encontrar información relevante en los documentos.  \n\n3. **Generación de la respuesta**:  \n   - **Si encuentras la información**:  \n     - Proporciona un resumen conciso, claro y preciso.  \n     - Incluye la referencia del documento donde encontraste la información (nombre del documento y sección si aplica).  \n   - **Si no encuentras la información**:  \n     - Responde únicamente con:  \n       ```\n       No puedo encontrar la respuesta en los recursos disponibles.\n       ```\n\n4. **Confidencialidad**: No reveles información fuera de lo que esté contenido en los documentos.  \n\n5. **Tono**: Profesional, amigable, claro y directo.\n\n## Formato de Referencia\n- Un documento: `Referencia: nombre_documento.pdf`  \n- Varios documentos: `Referencias: doc1.pdf, doc2.pdf`  \n- Con sección específica: `Referencia: nombre_documento.pdf, Sección X`\n\n## Ejemplos\n\n### Ejemplo 1\n**Pregunta del empleado:**  \n> ¿Cuál es la información básica de la empresa?\n\n**Respuesta del asistente:**  \n> [Información concisa sobre la empresa encontrada en los documentos]\n> \n> Referencia: documento_corporativo.pdf\n\n### Ejemplo 2\n**Pregunta del empleado:**  \n> ¿Qué procedimiento debo seguir para [acción específica]?\n\n**Respuesta del asistente:**  \n> Según el documento, el procedimiento es:\n> 1. [Paso 1]\n> 2. [Paso 2]\n> 3. [Paso 3]\n> \n> Referencia: manual_procedimientos.pdf, Sección X\n\n### Ejemplo 3\n**Pregunta del empleado:**  \n> ¿Cuál es [información no disponible]?\n\n**Respuesta del asistente:**  \n> No puedo encontrar la respuesta en los recursos disponibles.\n\n### Ejemplo 4\n**Pregunta del empleado:**  \n> Dame información sobre [tema amplio sin especificar]\n\n**Respuesta del asistente:**  \n> Para poder ayudarte mejor, ¿podrías especificar qué aspecto en particular te interesa? Por ejemplo: [opciones relevantes al contexto]\n\n### Ejemplo 5\n**Pregunta del empleado:**  \n> ¿Qué dice el documento sobre [tema específico]?\n\n**Respuesta del asistente:**  \n> Según los documentos disponibles, [información encontrada en múltiples fuentes]\n> \n> Referencias: documento1.pdf, documento2.pdf\n\n## Nota Importante\nTu objetivo es ayudar a los empleados a encontrar respuestas sobre procesos internos, documentos técnicos de ingeniería, procedimientos operativos y información corporativa, sin que ellos tengan que leer todos los documentos. Siempre mantén la exactitud y cita tus fuentes.\n\nno inventes las referencias buscalas de esta forma \ntraer informacion del documento padre de ese vector\ncuando se encunetre un vector con el file_id buscaremos el registro en ingested_files\ndevuelve el \"name\" de ese registro"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1872,
        176
      ],
      "id": "cba63ec3-5874-4f93-81bf-e49ef9f04ec7",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1632,
        336
      ],
      "id": "d50c93be-0ccc-4816-a721-62058788373c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9JzFVEYRK1cxP7TT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1776,
        368
      ],
      "id": "ea7f0a4c-b9b5-44c6-8183-559607ec0880",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "\nSeleccion de documentos\n",
        "height": 560,
        "width": 1520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        160
      ],
      "typeVersion": 1,
      "id": "308e0def-b682-42c0-ac6e-61d82059b625",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "insert",
        "embeddingBatchSize": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        768,
        240
      ],
      "id": "042fe55f-d939-4763-922f-b27381f6e86a",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "aHOKZeqFeEiimA7B",
          "name": "Postgres neon.com"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para buscar respuestas en la base de datos vectorial."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2112,
        336
      ],
      "id": "51880bf6-32fe-4282-b2d2-14e4be591322",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1680,
        560
      ],
      "id": "cbad7f67-157d-43b8-867d-fff44ed66748",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "aHOKZeqFeEiimA7B",
          "name": "Postgres neon.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2208,
        544
      ],
      "id": "76d1593e-3744-4d2c-ac70-7454bf96ebb3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "9JzFVEYRK1cxP7TT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        240
      ],
      "id": "09e7d92b-a519-43e6-8542-3f706be7381c",
      "name": "Descargar un archivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XJebdk9TS4ygK4bP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        240
      ],
      "id": "cfdba4ff-cbf0-4cf4-93a9-c8b47705fb6d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        448
      ],
      "id": "0cf84037-189f-4077-9c57-bab73eaff4e0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1BKLr8LyM1xKaFkNoJa4hdsjkXDfrPL1g",
            "mode": "list",
            "cachedResultName": "Documents for business",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1BKLr8LyM1xKaFkNoJa4hdsjkXDfrPL1g"
          },
          "includeTrashed": false
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        352
      ],
      "id": "b0d9f0d8-0ed6-4132-8e01-4797f7725703",
      "name": "Buscar archivos / directorios",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XJebdk9TS4ygK4bP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa6e6bea-5ec4-4368-8cbe-5a94551a2822",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "=application/vnd.google-apps.folder",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        352
      ],
      "id": "218b7b84-02d3-4165-a9d0-c505d88a82f3",
      "name": "¿Es un archivo?"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        512
      ],
      "id": "91b79e2f-70f5-40a5-a00b-ecef1a9f2907",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XJebdk9TS4ygK4bP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) as ingested from public.ingested_files\nwhere file_id = '{{ $json.id }}' and md5_checksum ='{{ $json.md5Checksum }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -368,
        192
      ],
      "id": "17861615-5be3-4f52-8d80-57836fa6fdfc",
      "name": "Obteneer carga previa",
      "credentials": {
        "postgres": {
          "id": "aHOKZeqFeEiimA7B",
          "name": "Postgres neon.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a425eed8-d8ca-433a-b83f-501271adc118",
              "leftValue": "={{ $json.ingested }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        288
      ],
      "id": "17f88fa9-d60f-488a-8f34-6983dcb90b9f",
      "name": "¿Fue previamente cargado?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ad58ec8a-d6de-4f75-adcb-a8ee10e898bb",
      "name": "no hacer nada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fa0ae2d-e2de-42e7-8c73-cdd152727dbd",
              "name": "id",
              "value": "={{ $('¿Es un archivo?').item.json.id }}",
              "type": "string"
            },
            {
              "id": "17cd777b-2249-4fd2-b06b-7605777296ad",
              "name": "md5Checksum",
              "value": "={{ $('¿Es un archivo?').item.json.md5Checksum }}",
              "type": "string"
            },
            {
              "id": "18cad6d1-31bc-47e9-9b18-eb9034ce5db2",
              "name": "mimeType",
              "value": "={{ $('¿Es un archivo?').item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "12ed2135-8fd1-4a37-ae6b-3386b71cabea",
              "name": "modifiedTime",
              "value": "={{ $('¿Es un archivo?').item.json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "c4909c0e-391a-44de-bce3-d5987ef80409",
              "name": "name",
              "value": "={{ $('¿Es un archivo?').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        304
      ],
      "id": "c024ffb6-566e-4cdc-8d8d-2e2669858915",
      "name": "Extraer variables"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_vectors where file_id= '{{ $json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        448
      ],
      "id": "c4e9c918-f719-4022-94eb-04183274d041",
      "name": "Borrar referencias",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "aHOKZeqFeEiimA7B",
          "name": "Postgres neon.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        272
      ],
      "id": "6c24a344-d1f1-4f0b-bb2d-0180f2cde1fc",
      "name": "Esperar eliminacion"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ingested_files",
          "mode": "list",
          "cachedResultName": "ingested_files"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "mime_type": "={{ $json.mimeType }}",
            "md5_checksum": "={{ $json.md5Checksum }}",
            "modified_time": "={{ $json.modifiedTime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "md5_checksum",
              "displayName": "md5_checksum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modified_time",
              "displayName": "modified_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ingested",
              "displayName": "last_ingested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        240
      ],
      "id": "2a1aad20-0981-416d-b45b-ab63a07b303b",
      "name": "Insertar documento",
      "credentials": {
        "postgres": {
          "id": "aHOKZeqFeEiimA7B",
          "name": "Postgres neon.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_vectors\nSET file_id = '{{ $('Extraer variables').item.json.id }}'\nWHERE metadata->'loc'->'lines' = '{{ $json.metadata.loc.lines.toJsonString() }}' and file_id is null",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        496
      ],
      "id": "647c5380-5813-45cc-9ed6-be840b85fe46",
      "name": "actualizar file_id en vectores",
      "credentials": {
        "postgres": {
          "id": "aHOKZeqFeEiimA7B",
          "name": "Postgres neon.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        768
      ],
      "id": "ed018d5d-0ae3-4669-83e7-bd26f503aeea",
      "name": "termina proceso"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1408,
        -256
      ],
      "id": "d3ac692a-5acb-4d35-add8-7f6f59c4b48e",
      "name": "Telegram Trigger",
      "webhookId": "6acb5039-4ef3-4913-96ad-2fc627d50766",
      "credentials": {
        "telegramApi": {
          "id": "n1trYw9DqdI6E0fm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Conexión \n**con bot de teelgram**\n",
        "height": 528,
        "width": 1280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -384
      ],
      "typeVersion": 1,
      "id": "8e9b0a1c-0a11-4406-a8d8-333db0b5adbe",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c519260a-80fe-4d36-95d3-c2fd10c97b6f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4663f213-66bc-4c45-bbb1-3289aa523494",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1616,
        -256
      ],
      "id": "909c6455-1cf8-41ab-bead-792dc5d08315",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Bienvenido a tu asistente, puedes hacer preguntas en base a los documentos de la empresa",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        -272
      ],
      "id": "df6d18e0-260e-4663-a197-5443919c0ab6",
      "name": "Bienvenida",
      "webhookId": "797f3c12-3e50-40a4-942b-2a7739bb0c40",
      "credentials": {
        "telegramApi": {
          "id": "n1trYw9DqdI6E0fm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        -16
      ],
      "id": "a4e589c1-f97c-4fdb-af12-4a56bcc21040",
      "name": "Escribiendo",
      "webhookId": "774fa181-4133-43ee-8504-7b817e163486",
      "credentials": {
        "telegramApi": {
          "id": "n1trYw9DqdI6E0fm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.sanitizedText }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2368,
        -288
      ],
      "id": "03cd0ed0-982e-4af3-9f6e-70409e45841c",
      "name": "Respoder mensajes",
      "webhookId": "e302f466-703c-4186-b4a6-9ed39e5eb645",
      "credentials": {
        "telegramApi": {
          "id": "n1trYw9DqdI6E0fm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Aseguramos que la variable 'text' tome el valor de la propiedad 'output'\n  let text = item.json.output;\n\n  if (text) {\n    // === LIMPIEZA DE FORMATO ===\n    \n    // 1. Elimina dobles asteriscos (**)\n    text = text.replace(/\\*\\*/g, '');\n    \n    // 2. Elimina asteriscos simples (*)\n    text = text.replace(/\\*/g, '');\n    \n    // 3. Eliminar cursivas (doble guion bajo: __texto__)\n    text = text.replace(/__/g, '');\n        \n    // 4. Limpiar posibles etiquetas HTML (ej: <br>, <b>)\n    text = text.replace(/<[^>]*>/g, '');\n    \n    // 5. Normalizar el formato de lista (si sigue usando guiones, los convierte en espacio)\n    // text = text.replace(/-\\s+/g, ' '); // Descomenta si quieres eliminar el guion de lista\n    \n    // 6. Eliminar doble salto de línea excesivo\n    text = text.replace(/(\\r\\n|\\n|\\r){2,}/gm, '\\n\\n'); \n    \n    // Asigna el texto limpio a una nueva propiedad, manteniendo el resto de las propiedades.\n    item.json.sanitizedText = text;\n  }\n}\n\n// Retorna todos los ítems de entrada, ahora con la propiedad 'sanitizedText' añadida.\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -64
      ],
      "id": "ed813428-7ea4-4310-a9e0-a6ece37245db",
      "name": "parsear formato de respuesta valido"
    },
    {
      "parameters": {
        "jsCode": "let text = $('Telegram Trigger').first().json.message.text|| \"\";\n\ntext = text\n  .normalize(\"NFD\")\n  .replace(/[\\u0300-\\u036f]/g, \"\")   // elimina tildes\n  .replace(/ñ/g, \"n\")                // reemplaza ñ\n  .replace(/Ñ/g, \"N\")\n  .replace(/[^\\w\\s]/g, \"\")           // quita símbolos\n  .trim();\n\n// n8n exige retornar un array con objetos\nreturn [\n  {\n    text\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -16
      ],
      "id": "af146c7a-44f3-4752-bed9-8cbcac73211e",
      "name": "Quitar asentos y Ñ"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 323441146,
          "message": {
            "message_id": 77,
            "from": {
              "id": 523474979,
              "is_bot": false,
              "first_name": "Fabio",
              "username": "drakevil3",
              "language_code": "es"
            },
            "chat": {
              "id": 523474979,
              "first_name": "Fabio",
              "username": "drakevil3",
              "type": "private"
            },
            "date": 1763648871,
            "text": "hablame del Informe Técnico interno PI-1001"
          }
        }
      }
    ],
    "Quitar asentos y Ñ": [
      {
        "json": {
          "text": "hablame del Informe Tecnico interno PI1001"
        }
      }
    ]
  },
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Descargar un archivo": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar archivos / directorios": {
      "main": [
        [
          {
            "node": "¿Es un archivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es un archivo?": {
      "main": [
        [
          {
            "node": "Obteneer carga previa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "¿Es un archivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Buscar archivos / directorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar archivos / directorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obteneer carga previa": {
      "main": [
        [
          {
            "node": "¿Fue previamente cargado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Fue previamente cargado?": {
      "main": [
        [
          {
            "node": "no hacer nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer variables": {
      "main": [
        [
          {
            "node": "Esperar eliminacion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Borrar referencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar referencias": {
      "main": [
        [
          {
            "node": "Esperar eliminacion",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Esperar eliminacion": {
      "main": [
        [
          {
            "node": "Insertar documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar documento": {
      "main": [
        [
          {
            "node": "Descargar un archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "actualizar file_id en vectores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "actualizar file_id en vectores": {
      "main": [
        [
          {
            "node": "termina proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Bienvenida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escribiendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribiendo": {
      "main": [
        [
          {
            "node": "Quitar asentos y Ñ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "parsear formato de respuesta valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsear formato de respuesta valido": {
      "main": [
        [
          {
            "node": "Respoder mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quitar asentos y Ñ": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed86e259-9272-463d-8099-27ca339a30a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce2d546e30d7064bfd97ef52a1fe4e3a50fdeee79894a960d64ce1a65919afe8"
  },
  "id": "rL3Zh8KInt7rfkDB",
  "tags": []
}